/* Reset code and common code starts here  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-weight: 400;
}

html {
  background-color: #fafafa;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fff;
  width: 100rem;
  max-width: 100%;
  margin: auto;
  box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
}

.text-justify{
  text-align: justify;
}

.text-white{
  color: white;
}
/* Reset code and common code ends here  */

/* Header starts here  */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 2rem 1rem;

  position: sticky;
  top: 0;
  z-index: 10;
  min-height: 5vh;
}

.logo-figure{
  border: 1px solid #fff;
}

.logo{
  font-size: 4rem;
}

/* nav li {
  display: inline-block;
} */

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li {
  padding: 1rem;
  transition: all 0.4s linear;
  transform: scale(1.2);
}

nav ul li:hover{
  background-color: brown;
  border-radius: 0.6rem;
}

.nav__link{
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}
/* Header ends here  */

/* Blog-banner section starts here  */
.banner{
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.banner article{
  flex-basis: 50%;
  margin: 1rem;
}

.banner__heading{
  display: inline-block;
  color: #fff;
  background-color: black;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  border: 4px solid rgb(46, 45, 45);
  border-radius: 8px;
}

.banner__description{
  font-size: 1.8rem;
}

/* .banner aside{
  flex-basis: 50%;
  text-align: center;
} */

.banner__img{
  width: 55rem;
  height: 55rem;
  border: 0.1rem solid gray;
  border-radius: 0.5rem;
}
/* Blog-banner section ends here  */

/* Responsiveness starts here  */
/* Big screen devices  */
@media screen and (max-width: 992px) {
  html{
    font-size: 60.5%;
  }

  .banner{
    flex-direction: column;
  }

  .banner article{
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  nav ul{
    padding-right: 2.5rem;
  }
}

/* Medium screen devices  */
@media screen and (max-width: 768px) {
  html{
    font-size: 55.5%;
  }

  nav ul{
    padding-right: 2.5rem;
  }

  .banner article{
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }

}

/* Small screen devices  */
@media screen and (max-width: 600px) {
  html{
    font-size: 48.5%;
  }

  header{
    flex-direction: column;
  }

  nav ul{
    flex-direction: column;
    padding-left: 2.5rem;
    margin: 2rem;
    text-align: center;
  }

  .banner{
    min-height: auto;
  }

  .banner article{
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
/* Responsiveness ends here  */